# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env

# Django
db.sqlite3
media/

# Data & ML
*.csv
*.xlsx
models/
model/

# OS junk
Thumbs.db
.DS_Store
# ML / Deep Learning junk
*.pb
*.tgz
*.h5
*.ckpt
*.pt
*.pth
*.onnx

# Tensorflow / training logs
events.out.tfevents*
retrain_logs/
logs/
logsold/

# Large binary data
static/logsold/
