{% include 'admin/admin_header.html' %}

<center>
    <h1>View Farmers</h1>
    <table class="table" style="width: 1000px;" border="1">
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Gender</th>
            <th>Email</th>
            <th>Phone</th>
            <!-- <th>Aadhar</th> -->
            <th>DOB</th>
            <!-- <th>Place</th>
            <th>Post</th>
            <th>District</th>
            <th>State</th>
            <th>Pin</th> -->
            <th>Photo</th>
            <th>Actions</th>
        </tr>
        {% for i in farmers %}
        <tr>
            <td>{{ i.id }}</td>
            <td>{{ i.first_name }}</td>
            <td>{{ i.last_name }}</td>
            <td>{{ i.gender }}</td>
            <td>{{ i.email }}</td>
            <td>{{ i.phone }}</td>
            <!-- <td>{{ i.aadhar }}</td> -->
            <td>{{ i.dob }}</td>
            <!-- <td>{{ i.place }}</td>
            <td>{{ i.post }}</td>
            <td>{{ i.district }}</td>
            <td>{{ i.state }}</td>
            <td>{{ i.pin }}</td> -->
            <td><img src="{{ i.photo }}" alt="User Photo" width="100" height="100"></td>
            <td>
                <a href="../remove_farmer/{{i.LOGIN_id}}" class="btn btn-danger">Remove Farmer</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    </center>

{% include 'public/footer.html' %}